.category {
    display: inline;
    align-items: baseline;
    float: right;
}

.dot {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-left: 1px;
    border-radius: 50%;
    flex-shrink: 0;
    min-width: 5px;
    min-height: 5px;
    border: 1px solid rgba(var(--color-foreground-rgb), 0.1); 
}


.label {
    font-size: var(--font-xs);
    color: rgba(var(--color-foreground-rgb), 0.7);
    font-variation-settings: var(--var-sm);
}