.category {
    display: inline-flex;
    align-items: first baseline;
    margin-right: var(--space-sm);
    margin-top: var(--space-sm);
}

.dot {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: var(--space-xs);
    border-radius: 50%;
    flex-shrink: 0;
    min-width: 7px;
    min-height: 7px;
    /* border: 1px solid rgba(var(--color-foreground-rgb), 0.05); */
}

.label {
    font-size: var(--font-sm);
    color: rgba(var(--color-foreground-rgb), 0.7);
    font-variation-settings: var(--var-sm);
}