.fullWidth {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  padding: var(--space-xl);
}

.withSidebar {
  position: relative;
  display: grid;
  /* Render content 1st, sidebar 2nd */
  grid-template-columns: auto var(--space-sidebar);
  column-gap: var(--space-lg);
  padding: var(--space-xl);
}

.sidebar {
  position: sticky;
  top: var(--space-xl);
  height: calc(100vh - var(--space-xl) * 2);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  z-index: 10;

  /* Hide scrollbar */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.sidebar::-webkit-scrollbar {
  display: none; 
}

.sidebarBottom {
  margin-top: auto;
  padding-top: var(--space-xl);
}

@media (max-width: 768px) {
  
  .withSidebar,
  .fullWidth {
    display: flex;
    flex-direction: column;
    order: 1;
    padding: var(--space-md);
  }

  .sidebar {
    position: sticky;
    width: 100%;
    height: calc(100vh - (var(--space-md) * 2));
    top: var(--space-md);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    order: 2;
  }

  .content {
    margin-left: 0;
    padding: 0;
    padding-top: calc( var(--space-sm) + var(--space-2xl));
  }

  .sidebarBottom {
    margin-top: auto;
    padding-top: var(--space-md);
  }
}
