.row4col {
    position: relative;
    display: grid;
    grid-template-columns:
        minmax(40px, 0.09fr)     /* Thumbnail */
        minmax(200px, 1.3fr)      /* Project Name */
        minmax(50px, 0.1fr)    /* Dots */
        minmax(130px, 0.5fr)     /* Tags */
        minmax(160px, 0.75fr)    /* Comments */
        minmax(70px, 0.15fr);    /* Date */
  
    align-items: center; /* baseline */
    height: 1.5rem;
    
    overflow: visible;
    margin: 0 0.6rem;
    padding:  0.38rem  var(--space-md) ;
    border-radius: var(--radius-sm);

    --archive-title-color: var(--color-foreground);

}

.row4col:first-child {
    margin-top: 0.35rem;
  }

/* Zebra-stripe odd rows */
.row4col:nth-child(even) {
    background-color: rgba(var(--brand-grey-rgb), 0.07);
  }
  
  .row4col:nth-child(odd) {
    background-color: transparent;
  }
  
  .row4col:hover {
    background-color: var(--color-background);
    cursor: pointer;

  }

.row4col:hover {
    z-index: 10;
    background-color: rgba(var(--brand-grey-rgb), 0.2);
  }

  .row4col:focus {
    outline: none;
    background-color: var(--brand-blue) !important;
    --archive-title-color: white;
  }



  /*
.row4col[data-archive-row]:hover {
    background-color: var(--color-background);
    border-radius: var(--radius-md);
    cursor: pointer;

 

}


.row4col[data-archive-row]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    
    background-color: rgba(var(--brand-grey-rgb), 0.15);
    border-radius: var(--radius-sm);

    z-index: 0;

    opacity: 0; 
    transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.row4col[data-archive-row]:hover::before {
    opacity: 1;
}


.row4col:hover [data-view] {
    transform: translate(-50%, -70%) scale(1);
}

.row4col:has([data-sublink]:hover) [data-view] {
    transform: translate(-50%, -70%) scale(0);
}
*/

.col1 {
    z-index: 4;
}

.col2, .col3, .col4, .col5 {
 margin-right: var(--space-md);
}



@media (max-width: 1024px) {
    .row4col {
        grid-template-columns: 1fr;

    }

}

@media (max-width: 768px) {

    .row2col,
    .row5col {
        grid-template-columns: 1fr;
    }

    .row4col {
        grid-template-columns: 1fr;

    }

}