.row4col {
    position: relative;
    display: grid;
    grid-template-columns:
        minmax(90px, 0.2fr)     /* Img */
        minmax(200px, 3fr)    /* Project Name */
        minmax(50px, 0.15fr)     /* Dots (Categories) */
    /*    minmax(160px, 0.8fr)     Tags */
        minmax(90px, 0.2fr)    /* Date */
        minmax(90px, 0.2fr);    /* Link */
  
    align-items: center; /* baseline */
    
    border-bottom: 1px solid var(--color-line);
    overflow: visible;
    margin: 0 0;
    padding:  2rem  2rem;

}

.row4col:hover {
    z-index: 10; /* anything > 0 will beat the default “auto” rows */
  }


.row4col[data-archive-row]:hover {
    background-color: var(--color-background);
    border-radius: var(--radius-md);
    
    border-bottom-color: transparent;
    
    border-radius: 0;
    cursor: pointer;
    margin: -1px 0;
    padding: calc( 2em + 1px) 2rem;

}


.row4col[data-archive-row]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -1px;

    
    background-color: rgba(var(--brand-grey-rgb), 0.08);
    /*
    border-radius: var(--radius-sm);
    */

    z-index: 0;

    opacity: 0; 
    transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.row4col[data-archive-row]:hover::before {
    opacity: 1;
}


.row4col:hover [data-view] {
    transform: translate(-50%, -70%) scale(1);
}

.row4col:has([data-sublink]:hover) [data-view] {
    transform: translate(-50%, -70%) scale(0);
}


.col1 {
    z-index: 4;
    justify-self: start;
    padding-left: 0rem;

}

.col2 {
    z-index: 3;
    padding-right: var(--space-md);
}

.col3 ,
.col4 {
    z-index: 5;
}


.col4{
  justify-self: end;
  padding-right: 0;
}

.col5 {
  justify-self: end;
  padding-right:  0rem;
}


@media (max-width: 1024px) {
    .row4col {
        grid-template-columns: 1fr;

    }

}

@media (max-width: 768px) {

    .row2col,
    .row5col {
        grid-template-columns: 1fr;
    }

    .row4col {
        grid-template-columns: 1fr;

    }

}