.tag {
    display: inline;
    padding-top: var(--space-sm);
    font-size: var(--font-sm);
    color: rgba(var(--color-foreground-rgb), 0.7);
    white-space: nowrap;

}

.tag:hover {
    color: var(--brand-blue);
    cursor: pointer;
}