.wrap {
  position: relative;
  display: inline-block;
  /*
  margin-right: var(--space-xxs);
  */
}

/* trigger with hover bg  */
.trigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  height: 1.5rem;
  width: 2rem;
  
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
.trigger:hover,
.trigger:focus-visible {
    border-radius: var(--radius-xs);
  background: rgba(var(--brand-grey-rgb), 0.3);
  outline: none;
}

/* inner dot shows current colour */
.dot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.08);
}

/* popover palette */
.pop {
  position: absolute;
  top: calc(100% + 7px);
  /* centered below button  left 50% and translateX(-50%)*/
  left: 0%;
  transform: translateX(-1%);
  display: flex;
  gap: 12px;
  padding: 12px 16px;
  border-radius: var(--radius-sm);

    /* Content transparent; blur on ::before */
    background: rgba(var(--color-background-rgb), 0.7);

    border-radius: var(--radius-sm);
    box-shadow:
        0 0 1px 0 rgba(var(--color-foreground-rgb), 0.6),
        0 0 7px 0 rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* Blur layer for submenu */
.pop::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;

    background: rgba(var(--brand-grey-rgb), 0.1);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);

    pointer-events: none;
    z-index: -1;
}

/* colour swatches */
.swatch {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 0;
  padding: 0;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.08);
}
.swatch:hover { box-shadow: inset 0 0 0 1px rgba(0,0,0,.2); }
.swatch:focus-visible {
  outline: 2px solid rgba(var(--brand-grey-rgb), 0.5);
  outline-offset: 2px;
}
