.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.xxs {
  font-size: var(--font-xxs);
}

.xs {
  font-size: var(--font-xs);
}

.sm {
  font-size: var(--font-sm);
}

.md {
  font-size: var(--font-md);
}

.lg {
  font-size: var(--font-lg);
}

.xl {
  font-size: var(--font-xl);
}

.xxl {
  font-size: var(--font-2xl);
  line-height: 1;
}


@media (max-width: 768px) {
    .xl {
        font-size: var(--font-lg);
    }

}