.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.text3xl {
  font-size: calc(90rem/ 16);
  line-height: 1;
}

@keyframes blink {
  50% {
    visibility: hidden;
  }
}

.blinkingCursor {
  animation: blink 1s steps(1) infinite;
}
