@import "./variables.css";

*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family:  InterVariable, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-optical-sizing: none;
  font-variation-settings: "opsz" 32, "wght" 450;
  font-feature-settings: 'liga' 1, 'calt' 1;
  font-variant-ligatures: common-ligatures discretionary-ligatures;
  text-rendering: optimizeLegibility;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  color: var(--foreground);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
  font-size: var(--small);
}

p {
  font-size: var(--small);
  font-variation-settings: "opsz" 20, "wght" 450;
}

hr {
  border: 0;
  border-bottom: 1px solid var(--line);
}

@media (max-width: 1024px) {
  body {
    padding: 0.5rem;
  }
}

@media (max-width: 768px) {
  body {
    padding: 0.2rem;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
