@import "./variables.css";

*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family:  InterVariable, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-optical-sizing: none;
  font-variation-settings: "opsz" 32, "wght" 450;
  font-feature-settings: 'liga' 1, 'calt' 1;
  font-variant-ligatures: common-ligatures discretionary-ligatures;
  text-rendering: optimizeLegibility;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  color: var(--foreground);
  background: var(--background);
}

p {
  font-size: var(--small);
  font-variation-settings: "opsz" 20, "wght" 450;
}

hr {
  border: 0;
  border-bottom: 1px solid var(--line);
}

a {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  color: inherit;
  text-decoration: none;
  font-size: var(--small);
  font-variation-settings: "opsz" 20, "wght" 450;
  transition: color 0.2s ease;
  position: relative;
}

a:hover {
  color: var(--blue);
}

a::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: currentColor;
  -webkit-mask-image: url("/arrow.svg");
  mask-image: url("/arrow.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  transition: rotate 0.2s ease;
}

a:hover::after {
  rotate: 45deg;
  transition: rotate 0.2s ease;
  /* transform: translateY(-4px); */
}

@media (max-width: 1024px) {
  body {
    padding: 0.5rem;
  }
}

@media (max-width: 768px) {
  body {
    padding: 0.2rem;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
