/* Global Variables */
:root {
    
    /* font variation settings: "opsz" auto, "wght" (specific) */
  --var-sm:  "wght" 400;
  --var-md:  "wght" 480;
  --var-lg:  "wght" 580;
  --var-xl:  "wght" 680;


  /* Light Mode */
  --color-background: #fcfcfc;
  --color-background-rgb: 252, 252, 252;
  --color-foreground: #171717;
  --color-foreground-rgb: 23, 23, 23;
  --color-text: #222;
  --color-line: rgba(120, 120, 128, 0.4);


  --bg1: hsl(224, 100%, 70%); 
  --bg2: hsl(275, 100%, 72%);
  --bg3: hsl(115, 100%, 71%);
  --bg4: hsl(43, 100%, 71%);


  --bar-h: 35px;
  --menu-safe-top: calc(var(--bar-h) + 1px);
  

   /* Spacing */
  --space-3xs: 0.05rem;
  --space-xxs: 0.125rem;
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-2xl: 4rem;
  --space-3xl: 5rem;

  --space-preview-pane: 330px;
  --space-sidebar: 330px;
  --space-row: 1rem;

  /* Font sizes */
  --font-xxs: calc(11rem/ 16);
  --font-xs: calc(12rem/ 16);
  --font-sm: calc(13rem/ 16);
  --font-md: calc(15rem/ 16);
  --font-lg: calc(23rem/ 16);
  --font-xl: calc(35rem/ 16);
  --font-2xl:calc(45rem/ 16);

  /* Border Radius */
  --radius-xxs: 2px;
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 18px;
  --radius-xl: 24px;
  --radius-2xl: 30px;

  /* Transitions */
  --transition-fast: 0.2s ease-in-out;
  --transition-normal: 0.3s ease-in-out;
  --transition-slow: 0.5s ease-in-out;

  /* Shadows */
  --shadow-xs: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.05);
  --shadow-lg: 0 8px 16px rgba(0, 0, 0, 0.05);

  /* Brand Colors */
  --brand-dark-grey: #1E1E1E;
  --brand-dark-grey-rgb: 30, 30, 30;
  /*
  --brand-grey: #787880;
  --brand-grey-rgb: 120, 120, 128;
  --brand-grey-rgb: 111,162,208;
  */
  --brand-grey: #787880;
  --brand-grey-rgb: 173, 173, 179;

  --brand-blue: #0364E1;
  --brand-blue-rgb: 3, 100, 225;

  --folder-blue: #0077ff;
  --folder-turquoise: #00bcd4;
  

  --tag-red: rgb(255, 0, 8);
  --tag-grey: rgb(108, 108, 112);
  --tag-yellow: rgb(239, 175, 0);
  --tag-orange: rgb(245, 116, 1);
  --tag-green: rgb(2, 183, 1);
  --tag-blue: rgb(0, 112, 253);
  --tag-purple: rgb(167, 64, 204);
}




/*
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0a0a0a;
    --color-background-07: rgb(10, 10, 10, 0.7);
    --color-foreground: #ededed;
    --color-text: #ddd;

    --shadow-xs: 0 1px 2px rgba(255, 255, 255, 0.05);
    --shadow-sm: 0 2px 4px rgba(255, 255, 255, 0.05);
    --shadow-md: 0 4px 8px rgba(255, 255, 255, 0.05);
    --shadow-lg: 0 8px 16px rgba(255, 255, 255, 0.05);
  }
}
*/


.dark {
    color-scheme: dark;
    --color-background: #1E1F1F;
    --color-background-rgb: 10, 10, 10;
    --color-foreground: #ededed;
    --color-foreground-rgb: 237, 237, 237;
    --color-line: rgba(252, 252, 252, 0.2);



    --bg1: hsl(224, 100%, 29%);
    --bg2: hsl(275, 100%, 32%);
    --bg3: hsl(115, 100%, 31%);
    --bg4: hsl(43, 100%, 31%);
    
    

  
    --shadow-xs: 0 1px 2px rgba(255, 255, 255, 0.05);
    --shadow-sm: 0 2px 4px rgba(255, 255, 255, 0.05);
    --shadow-md: 0 4px 8px rgba(255, 255, 255, 0.05);
    --shadow-lg: 0 8px 16px rgba(255, 255, 255, 0.05);
  }

