
/* 🌍 Global Variables */
:root {
  /* Light Mode */
  --background: #f0f0f0;
  --foreground: #171717;
  --text-color: #222;
  --line: #ddd;

  /* Spaces*/
  --margin-big: 2rem;
  --sidebar-offset: 2rem; /* Matches margin for alignment */
  --sidebar-width: 200px;
  --row-padding: 0.7rem 0rem;

  /* Font sizes */
  --xs: calc(12rem/ 16);
  --small: calc(14rem/ 16);
  --medium: calc(17rem/ 16);
  --large: calc(25rem/ 16);
  --xl: 48px;
  --xxl:calc(90rem/ 16);

  /* Category Colors */
  --blue: #007bff;
  --backend: #ff5733;
  --graphic-design: #67D9FF;
  --systems-devops: #FFEE00;
  --artwork: #FF94F1;
  --frontend: #7EFF27;
  --writing: #3300AA;
  --data-ai: #9922FF;
}

/* Font Support */
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

/* 🌙 Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --text-color: #ddd;
  }
}
