/* src/styles/desktop/icon.module.css */

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;     /* container width slightly bigger than image */
    cursor: pointer;
}


.label {
    margin-top: var(--space-sm);
    padding: 0.05rem 0.25rem;
    font-size: 12.5px;
    font-variation-settings: var(--var-xl);
    text-align: center;
    color: white;
    text-shadow:
    0  1px   3px rgba(0,0,0,0.6),
    0  3px  6px rgba(0,0,0,0.3);
}

.icon:hover>.label {
    background-color: var(--brand-blue);
    border-radius: var(--radius-xs);
    color: white;
    text-shadow: none;
}