/* globals.css (or about.module.css) */
.aboutMain,
.aboutMain * {
  font-family: var(--font-mono), monospace;
  font-variation-settings: var(--var-md);
  line-height: var(--line-h);
  font-size: var(--font-xs);
}
