.clockContainer {
  display: grid; /* Use grid to stack elements */
  grid-template-columns: 1fr; /* One column */
  grid-template-rows: 1fr; /* One row */
  align-items: center;
  justify-content: end;
  color: var(--color-text);
  height: auto;
  width: fit-content;
  min-width: 55px; /* Only takes as much space as needed */
  position: relative;
}

.digitalTime,
.timezone {
  font-variation-settings: "wght" 520;
  font-size: var(--font-sm);
  white-space: nowrap;
  text-align: left;
  grid-column: 1 / -1; /* Both elements occupy the same grid cell */
  grid-row: 1 / -1;
}

.digitalTime {
  opacity: 1;
}

.timezone {
  opacity: 0;
}

.clockContainer:hover .digitalTime {
  opacity: 0;
}

.clockContainer:hover .timezone {
  opacity: 1;
}
