.clockContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(var(--brand-dark-grey-rgb), 0.75);
    border-radius: var(--radius-lg);
    padding: var(--space-md);
    max-width: 100%;
    backdrop-filter: blur(22px);
    -webkit-backdrop-filter: blur(22px);
}

.topRow {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location {
    font-weight: 800;
    font-size: var(--font-md);
    font-variation-settings: "wght" 520;
    color: #ffffff;
}

.time {
    position: absolute;
    right: var(--space-md);
    top: var(--space-sm);

    text-align: right;
    font-size: calc(var(--font-lg)*1.6);
    font-weight: 700;
    color: #ffffff;
}

.date {
    font-weight: 600;
    font-size: var(--font-sm);
    text-align: left;
    color: #EBEBF580;
}