.clockContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(var(--brand-grey-rgb), 0);
    border-radius: var(--radius-xs);
    border: none;
    padding: 0 var(--space-sm);
    margin-right: -0.3rem;
    font-size: 0.85rem;
    font-variation-settings: var(--var-md);
    height: 1.5rem;
    cursor: pointer;
}

.clockContainer:hover {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(var(--brand-grey-rgb), 0.3);
}