.notificationsContainer {
  position: relative;
  min-height: 600px;
}

.notificationsList {
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  margin: 0;
  padding: 0;
  list-style: none;
}

.notificationCard {
  position: relative;
  background-color: rgba(var(--brand-grey-rgb), 0.15);
  border-radius: var(--radius-lg);
  padding:var(--space-md);
  display: flex;
  align-items: center; 
  width: 100%;
  max-width: 355px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.01);
}

.activityLabel {
  position: absolute;
  top: var(--space-md);
  right: var(--space-md);
  opacity: 0.5;
  font-size: var(--font-xs);
  font-variation-settings: var(--var-sm);
}

.cover {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details h3 {
  margin: 0;
  text-align: left;
  font-size: var(--font-sm);
  font-variation-settings: var(--var-sm);
  font-variation-settings: "wght" 520;
}

.details p {
  margin: var(--space-xs) 0 0;
  text-align: left;
  font-size: var(--font-sm);
}
