.description {
    display: none;
    margin-top: var(--space-sm);
    font-size: var(--font-sm);
    color: rgba(var(--color-foreground-rgb), 0.7);
    line-height: 1.4;
}

.row4col:hover [data-image],
.row4col:hover [data-description] {
    display: block;
}

.alwaysShow {
    display: block !important;
}

.link {
    display: inline-flex;
    align-items: center;
    gap: 1px;
    color: inherit;
    text-decoration: none;
    font-size: var(--font-sm);
    font-variation-settings: var(--var-sm);
    transition: color var(--transition-fast);
    position: relative;
}

.link:hover {
    color: var(--color-foreground);
}

.link::after {
    content: "";
    display: inline-block;
    margin-top: 2px;
    width: 15px;
    height: 15px;
    background-color: currentColor;
    -webkit-mask-image: url("/arrow.svg");
    mask-image: url("/arrow.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    transition: rotate var(--transition-fast);
}

.link:hover::after {
    rotate: 45deg;
    transition: rotate var(--transition-fast);
    /* transform: translateY(-4px); */
}

.hiddenImage {
    /*background-color: rgba(var(--brand-grey-rgb), 0.12);*/
    display: none;
    position: absolute;
    bottom: var(--space-lg);
    left: var(--space-lg);
    width: var(--space-sidebar);
    height: 222px;
    border-radius: var(--radius-lg);
}

.imageInner {
    position: relative;
    width: 100%; /*calc(100% - (2 * var(--space-md)));*/
    height: 100%; /*calc(100% - (2 * var(--space-md)));*/
    margin: 0;
    box-sizing: border-box;
    border-radius: var(--radius-lg);
    overflow: hidden;
}