.nav {
    margin: var(--space-md) 0;
    display: flex;
    justify-content: left;
    gap: 0.5rem;
}

.nav .link{
    font-size: var(--font-md);
    font-variation-settings: var(--var-sm);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    color: rgba(var(--color-foreground-rgb), 0.7);
    border-radius: var(--radius-xl);
    border: 0px solid var(--color-line);
    text-decoration: none;
    /* transition: background-color 0.2s, border-color 0.2s; */
}

.link:hover {
    color: var(--color-foreground);
    background-color: rgba(var(--brand-grey-rgb), 0.2);
}

.nav .active {
    color: var(--color-foreground);
    background-color: rgba(var(--brand-grey-rgb), 0.12);
}

.nav .active:hover {
    color: var(--color-foreground);
    background-color: rgba(var(--brand-grey-rgb), 0.2);
}