.searchContainer {
    position: relative;
    max-width: auto;
    width: auto;
    /* margin-left: auto; */
    padding: var(--space-sm) 0;
    margin: 0  0.7rem;
  }
  
  .searchIcon {
    position: absolute;
    left: 0.7rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(var(--color-foreground-rgb), 0.6);
  }

.searchInput {
    width: -webkit-fill-available;
    background-color: rgba(var(--brand-grey-rgb), 0);
    padding: 0.3rem 1.9rem;
    border: 1px solid rgba(var(--color-foreground-rgb), 0.12);
    border-radius: var(--radius-xs);
    font-size:var(--font-sm);
    outline: none;
    transition: border-color 0s;
    font-variation-settings: var(--var-sm);
}

.searchInput:focus {
    margin: -1px;
    border: 2px solid rgba(var(--brand-blue-rgb), 0.5);
    background-color: var(--color-background);
}

.clearButton {
    display: grid;
    place-items: center;
    padding: 0;
    position: absolute;
    right: 0.6rem;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    border-radius: 50%;
    font-size: 0.8rem;
    line-height: 0;
    height: 0.8rem;
    width: 0.8rem;
    cursor: pointer;
    color: rgba(var(--color-background-rgb), 0.8);
    background-color: rgba(var(--color-foreground-rgb), 0.6);
    transition: opacity 120ms ease;
  }
