.searchContainer {
    position: relative;
    max-width: auto;
    width: 100%;
    /* margin-left: auto; */
    padding: var(--space-sm) 0;
  }
  
  .searchIcon {
    position: absolute;
    left: 0.7rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(var(--color-foreground-rgb), 0.6);
  }

.searchInput {
    width: -webkit-fill-available;
    background-color: rgba(var(--brand-grey-rgb), 0.12);
    padding: 0.3rem var(--space-lg);
    border: 2px solid transparent;
    border-radius: var(--radius-xs);
    font-size:var(--font-md);
    outline: none;
    transition: border-color 0s;
    font-variation-settings: var(--var-sm);
}

.searchInput:focus {
    border-color: var(--brand-blue);
    background-color: var(--color-background);
}