.title {
  margin: var(--space-md) var(--space-sm) var(--space-sm) var(--space-sm);
  font-size: var(--font-xxs);
  color: rgba(var(--color-foreground-rgb), 0.4);
  font-variation-settings: var(--var-xl);
}

.list {
  list-style: none;
  padding: 0 0.7rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1px;
  white-space: nowrap;
  line-height: var(--line-h-xs);
}

.list li {
  cursor: pointer;
  padding:  0.4rem var(--space-sm);
  border-radius: var(--radius-xs);
  font-size: var(--font-sm);
  font-variation-settings: var(--var-md);
}

.list li:hover {
  background-color: rgba(var(--brand-grey-rgb), 0.2);
}

.active {
  background-color: rgba(var(--brand-grey-rgb), 0.2);
}

.tagItem {
    display: flex;
    align-items: center;
    gap: 0.7rem;            /* space between dot and label */
    cursor: pointer;
  }


.favItem, .catItem{
    display: flex;
    align-items: center;
    gap: 0.4rem; 
    cursor: pointer;
  }

.folderIcon {
    position: relative;
    color: var(--brand-grey);
    flex-shrink: 0;
    display: inline-flex;
    justify-content: center;
    
}

.catItem .folderIcon{
    position: relative;
    color: var(--brand-grey);
}

